<html>
    <head>

    </head>
    <body>
        <h1>Welcome to file service!</h1>
        <h3>upload file</h3>
        File: <input type="file" id="f">
        <button id="uploader">Upload!</button>
        
        <p id="wait">Output</p>

        <script>
            const webSocket = new WebSocket('ws://localhost:3002/');
            webSocket.onmessage = (event) => {
                alert(Event)
            };
            webSocket.addEventListener("open", () => {
                console.log("We are connected");
            });
            document.getElementById('uploader').addEventListener('click', () => {
                webSocket.send('rrr')
            })


        </script>
        
    </body>
</html>