<html>
    <head>

    </head>
    <body>
        <h1>Welcome to file service!</h1>
        <h3>upload file</h3>
        File: <input type="file" id="f">
        <button id="uploader">Upload!</button>
        
        <p id="wait">Output</p>

        <script>

            const btn = document.getElementById("uploader");
            const f = document.getElementById("f")
            let wait = document.getElementById("wait")
            let id = Math.random().toString(36).slice(2)

            btn.addEventListener("click", () => {
                console.log("started.")

                wait.innerHTML = "Output: "

                const fileReader = new FileReader();
                const theFile = f.files[0];
                const CHUNK_SIZE = 4096;
                let chunkCount = 0;
                const fileName = theFile.name;
                let buffer = null
                fileReader.onload = async ev => {
                    chunkCount = ev.target.result.byteLength/CHUNK_SIZE;
                    console.log("chunk count is: " + chunkCount)
                    buffer = ev.target.result;
                    console.log("Read successfully: chunk size " + chunkCount);
                    
                    const webSocket = new WebSocket('ws://localhost:3001/ws?id=' + id);
                    webSocket.onopen = (ev) => {
                        console.log("Connected in realtime... starting upload");
                        
                        let chunkId=0
                        setInterval(()=>{
                            wait.innerHTML = "Output: " + Math.round(chunkId * 100/Math.floor(chunkCount+1)) + "%"
                        },1000)

                        for (chunkId=0; chunkId < chunkCount+1; chunkId++){
                            console.log("chunk number: " + chunkId)
                            let chunk = buffer.slice(chunkId * CHUNK_SIZE, (chunkId * CHUNK_SIZE) + CHUNK_SIZE);
                            const raw = JSON.stringify({
                                chunk : Array.from(new Uint8Array(chunk)),
                                fileName : fileName
                            });
                            webSocket.send(raw)
                        }
                        webSocket.onmessage = (event) => {
                            console.log(event)
                        };
                        
                    };
                };
                fileReader.readAsArrayBuffer(theFile); 

            })
        </script>
        
    </body>
</html>